<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.globaltester.logging.logfileeditor.ui.editors.LogfileEditor"
         icon="icons/gtLogfile.png"
         id="org.globaltester.logging.logfileeditor.ui.logFileEditor"
         name="GT LogfileEditor">
      <contentTypeBinding
            contentTypeId="org.globaltester.logging.contenttypes.GtLogfile">
      </contentTypeBinding>
   </editor>
</extension>
</plugin>
